@model IEnumerable<project_isf.Domain.POCO.Event>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeOrDistance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchoolCupEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeMinimum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeMaximum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DistanceMinimum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DistanceMaximum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordHolder)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeOrDistance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchoolCupEvent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeMinimum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeMaximum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DistanceMinimum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DistanceMaximum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecordHolder)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EventId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EventId })
        </td>
    </tr>
}

</table>
