@model project_isf.Domain.POCO.Team

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Team</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CategoryId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CategoryId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Coach.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Coach.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.School.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.School.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TeamNaam)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TeamNaam)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Category)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImageUrl)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageUrl)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TeamId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
