@model project_isf.Domain.POCO.ISFEvent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ISFEvent</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Category)
    </div>
    <div class="display-field">
         @if (Model.Category == true)
            {
                @Html.Label("Athletics")
            }else{
                @Html.Label("Swimming") 
            }
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TimeOrDistance)
    </div>
    <div class="display-field">
         @if (Model.TimeOrDistance == true)
            {
                @Html.Label("Time")
            }else{
                @Html.Label("Distance") 
            }
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SchoolCupEvent)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SchoolCupEvent)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TimeMinimum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeMinimum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TimeMaximum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeMaximum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DistanceMinimum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DistanceMinimum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DistanceMaximum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DistanceMaximum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RecordHolder)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RecordHolder)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ISFEventId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
