@model IEnumerable<project_isf.Domain.POCO.ISFEvent>

@{
    ViewBag.Title = "Events";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.Label("Name")
        </th>
        <th>
            @Html.Label("Type")
        </th>
        <th>
             @Html.Label("Time or distance")
        </th>
        <th>
             @Html.Label("School Cup")
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @if (item.Category == true)
            {
                @Html.Label("Athletics")
            }else{
                @Html.Label("Swimming") 
            }
        </td>
        <td>
            @if (item.TimeOrDistance == true)
            {
                @Html.Label("Time")
            }else{
                @Html.Label("Distance") 
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchoolCupEvent)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ISFEventId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ISFEventId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ISFEventId })
        </td>
    </tr>
}

</table>
